@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh; 
    font-family: "Mukta";
}

 #root{
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}